<section class="wrapper">
    <div class="container">
      <div class="row">
        <!-- Card Container Start -->
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
          <div class="card text-light card-has-bg click-col">
            <img class="card-img d-none" alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body text-light flex-grow-1">
                <h4 class="card-title mt-0"><a class="text-light" href="https://creativemanner.com">View Bookings</a></h4>
                <!-- <small><i class="far fa-clock"></i> October 15, 2020</small> -->
              </div>
              <button type="button" (click)="onViewBookingsClick()" class="btn btn-light mb-3">View</button>
            </div>
          </div>
        </div>
        <!-- Card Container End -->
        
        <!-- Card Container Start -->
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
          <div class="card text-light card-has-bg click-col">
            <img class="card-img d-none" alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body text-light flex-grow-1">
                <h4 class="card-title mt-0"><a class="text-light" href="https://creativemanner.com">View Cars</a></h4>
                <!-- <small><i class="far fa-clock"></i> October 15, 2020</small> -->
              </div>
              <button type="button" (click) = "onViewCarsClick()" class="btn btn-light mb-3">View</button>
            </div>
          </div>
        </div>
        <!-- Card Container End -->
        
        <!-- Card Container Start -->
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
          <div class="card text-light card-has-bg click-col">
            <img class="card-img d-none" alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body text-light flex-grow-1">
                <h4 class="card-title mt-0"><a class="text-light" href="https://creativemanner.com">View Users</a></h4>
                <!-- <small><i class="far fa-clock"></i> October 15, 2020</small> -->
              </div>
              <button type="button" (click)="onViewUsersClick()" class="btn btn-light mb-3">View</button>
            </div>
          </div>
        </div>
        <!-- Card Container End -->

        <!-- Card Container Start -->
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
          <div class="card text-light card-has-bg click-col">
            <img class="card-img d-none" alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body text-light flex-grow-1">
                <h4 class="card-title mt-0"><a class="text-light" href="https://creativemanner.com">View Payment</a></h4>
                <!-- <small><i class="far fa-clock"></i> October 15, 2020</small> -->
              </div>
              <button type="button" (click)="onViewPaymentClick()" class="btn btn-light mb-3">View</button>
            </div>
          </div>

        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
          <div class="card text-light card-has-bg click-col">
            <img class="card-img d-none" alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body text-light flex-grow-1">
                <h4 class="card-title mt-0"><a class="text-light" href="https://creativemanner.com">View Review</a></h4>
                <!-- <small><i class="far fa-clock"></i> October 15, 2020</small> -->
              </div>
              <button type="button" (click)="onViewReviewClick()" class="btn btn-light mb-3">View</button>
            </div>
          </div>
          
        </div>
        <!-- Card Container End -->
        
        
       </div> <!-- End of .row -->
    </div> <!-- End of .container -->
  </section> 
  