<div class="container mt-5">
    <h2 class="mb-4">Bookings List</h2>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Booking ID</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Total Price</th>
            <th>Car</th>
            <!-- <th>User</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of bookings">
            <td>{{ booking.bookingId }}</td>
            <td>{{ booking.startDate | date: 'shortDate' }}</td>
            <td>{{ booking.endDate | date: 'shortDate' }}</td>
            <td [ngClass]="{
              'text-success': booking.status === 'Confirmed',
              'text-warning': booking.status === 'Pending',
              'text-danger': booking.status === 'Cancelled'
            }">{{ booking.status }}</td>
            <td>{{ booking.totalPrice | currency:'INR':'symbol' }}</td>
            <td>{{ booking.car.carCompany }} ({{ booking.car.carModel }})</td>
            <!-- <td>{{ booking.user.name }}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  