<p>display-review-by-user-id works!</p>
<div class="container mt-4">
    <!-- Search Form -->
    <form class="form-inline d-flex justify-content-center mb-4" #formData="ngForm" (ngSubmit)="searchByUserId(formData.value)">
      <input 
        class="form-control mr-2 col-md-6" 
        type="search" 
        placeholder="Search Review by UserID" 
        aria-label="Search" 
        name="userId" 
        ngModel
        required 
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
       <div *ngIf="searchError" class="alert alert-danger mt-3">
    Review Not Found for the given User ID. Please enter a valid User ID.
  </div>
    </form> 
    <!-- {{reviewList | json}} -->
    <table *ngIf="!isLoading || !errorMessage" class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Review Id</th>
            <th scope="col">Rating</th>
            <th scope="col">Review Text</th>
            <th scope="col">User ID</th>
            <th scope="col">Booking ID</th>
            <th scope="col">Review Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let review of reviewList">
            <td>{{ review.reviewId }}</td>
            <td>{{ review.rating }}</td>
            <td>{{ review.reviewText }}</td>
            <td>{{ review.user.userId }}</td>  <!-- Assuming userId is a simple field -->
            <td>{{ review.booking.bookingId }}</td>  <!-- Assuming bookingId is a simple field -->
            <td>{{ review.reviewDate| date: 'short' }}</td>  <!-- Format the review date -->
          </tr>
        </tbody>
      </table>
    </div>